<h1>attendance types</h1>

<%= link_to '[new attendance type]', new_attendance_type_path %><br>
<br>

<table class="table">
  <tbody>
    <% @attendance_types.each do |attendance_type| %>
      <tr>
        <td><%= attendance_type.name %></td>
        <td><%= link_to '[edit]', edit_attendance_type_path(attendance_type) %></td>
        <td><%= link_to '[delete]', attendance_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
