<h1>About Ivy</h1>
<div>
  <p>
	<a href="https://github.com/arigoldx/ivy-rails">Ivy</a> is
	software for teaching.
  </p>

  <p>
	Ivy strives to be a practical tool for teaching. This means easy
	attendance taking but Ivy will also provide tools for looking
	historically at work on the level of a student, lesson or
	course. These wide-angle view of data is incredibly powerful in
	shaping the art of teaching.
  </p>

  <p>
	Currently, Ivy can keep track of the dates and times of your
	lessons. It also greatly simplifies attendance and will soon be
	able to record activities.
  </p>

  <p>
	All feedback is valuable, from software development practices to
	real-world teaching use cases. Maybe you have an idea that can
	make teaching easier?
  </p>

</div>
