<h1>About Ivy</h1>
<div>
  <p>
	Welcome to Ivy, software for teaching.
  </p>

  <p>
	I <a href="https://github.com/arigoldx/ivy">originally wrote</a>
	Ivy to help me with teaching Middle and High school. Our day to
	day software tools at the time - FirstClass and Blackboard - were
	rather clunky. To put it incredibly mildly.
  </p>

  <p>
	I started by just handling attendance for my classes. Soon it was
	my daily calendar, keeping track of courses and individual class
	lessons. By the end, I was also using it to take all notes (past)
	and to develop curriculm (future). Most importantly from the
	perspective of pedagogy, I was tracking the activities that we did
	in each class. This helped immensely with curricular planning and
	analysis.
  </p>

  <p>
	I'm currently in the process of rewriting Ivy because development
	ceased in 2008, with Ruby on Rails 1.2.3 and it's kinda outdated.
  </p>
</div>
