<h1>About Ivy</h1>
<h2>version 0.3</h2>
<div>
  <p>
	<a href="https://github.com/arigoldx/ivy-rails">Ivy</a> is
	software for teaching.
  </p>

  <p>
	Ivy strives to be a practical tool for teaching. This means easy
	attendance taking but it also means that Ivy will provide tools
	for looking historically at the data of teaching. This means
	analysis on the level of a student, lesson or course. Or any
	aspect of teaching you can codify. These wide-angle view of data
	is incredibly powerful in shaping the art of teaching.
  </p>

  <p>
	Currently, Ivy can keep track of the dates and times of your
	lessons. It also handles attendance. The data analysis is yet to
	come.
  </p>

  <p>
	The database gets refreshed every now and then so feel free to
	poke around and change things.
  </p>

  <p>
	For any feedback or concerns please
	visit: <a href="http://github.com/arigoldx/ivy/issues">http://github.com/arigoldx/ivy/issues</a>. Feel
	free to click the green "New Issue" button in the upper right.
  </p>

  <p>
	You can also check out the wiki at:
	visit: <a href="http://github.com/arigoldx/ivy/wiki">http://github.com/arigoldx/ivy/wiki</a>. Feel free to edit any pages.
  </p>
</div>
