<h1>About Ivy</h1>
<div>
  <p>
	Welcome
	to <a href="https://github.com/arigoldx/ivy-rails">ivy</a>,
	software for teaching.
  </p>

  <p>
	Originally written in Rails 1.2.3, Ivy is currently being
	rewritten in Rails 4.1 and isn't done yet, though I'm working on
	it daily. Whether you're looking at the code or using the latest
	commit at <a href="http://ivy-rails.herokuapp.com">heroku</a>, I'm
	sure there are bugs as well as workflow issues.
  </p>

  <p>
	I <a href="https://github.com/arigoldx/ivy">originally wrote</a>
	Ivy to help me with teaching Middle and High school. Our day to
	day software tools at the time - FirstClass and Blackboard - were
	rather clunky. To put it incredibly mildly. And they couldn't help
	you analyze any data, something that in my humble opinion is an
	essential tool for educators.
  </p>

  <p>
	I started by just handling attendance for my classes. Soon it was
	my daily calendar, keeping track of courses and individual class
	lessons. By the end, I was also using it to take all notes (past)
	and to develop curriculum (future). Most importantly - from the
	perspective of pedagogy - I was tracking the activities that we
	did in each class. This helped immensely with curricular planning
	and analysis.
  </p>

  <p>
	Feel free to get in touch for any reason.
  </p>
</div>
