<h1><%= @date.to_s(:day_month_date).downcase %></h1>

<% if @total > 0 %>
  <% for lesson in @lessons %>
    <%= link_to lesson.course.name + ' ' + lesson.course.section, lesson_path(lesson.id) %>
    <%= lesson.start_time.strftime("%l:%M") %> to
	<%= lesson.end_time.strftime("%l:%M") %><br>
  <% end %>
<% else %>
  nothing going on today
<% end %>
