<h1><%= @date.to_s(:day_month_date).downcase %></h1>

<% if @total > 0 %>
  <% for lesson in @lessons %>
    <%= link_to lesson.course.name + lesson.course.section, lesson_path(lesson.id) %><br />
<% if false %>
    <%=h lesson.start_time.to_s(:hour_minute_ampm) %> to <%= lesson.end_time.to_s(:hour_minute_ampm) %><br />
<% end %>
  <% end %>
<% else %>
  nothing going on today
<% end %>
