<h1>About Ivy</h1>
<div>
  <p>
	Welcome to Ivy, software for teaching.
  </p>

  <p>
	I <a href="https://github.com/arigoldx/ivy">originally wrote</a>
	Ivy to help me with teaching Middle and High school. Our day to
	day software at the time - FirstClass and Blackboard - were rather
	clunky.
  </p>

  <p>
	Starting small, it just handled attendance for my classes. But by
	the end, I was using it to take notes on everything from lessons
	to students and courses. I was also tracking the activities that
	we did in each class which I could therefore look back upon for
	the purposes of planning and analysis.
  </p>

  <p>
	I'm currently in the process of rewriting Ivy as development
	ceased in 2008, with Ruby on Rails 1.2.3
  </p>
</div>
